# the port the http server should use
TRAGGO_PORT=__PORT__

# default username and password
TRAGGO_DEFAULT_USER_NAME=__ADMIN__
TRAGGO_DEFAULT_USER_PASS=__PASSWORD__

# bcrypt password strength (higher = more secure but also slower)
# TRAGGO_PASS_STRENGTH=10

# how verbose traggo/server should log (must be one of: debug, info, warn, error, fatal, panic)
TRAGGO_LOG_LEVEL=info

# the database dialect (must be one of: sqlite3)
TRAGGO_DATABASE_DIALECT=sqlite3

# the database connection string, differs depending on the dialect
# sqlite3: __INSTALL_DIR__/data/traggo.db
# TRAGGO_DATABASE_CONNECTION=__INSTALL_DIR__/data/traggo.db